<div class="panel panel-default">
    <div class="panel-heading">
        <h2 class="panel-title">Edit employee <b>{{employee.firstName}}
            {{employee.lastName}}</b></h2>
    </div>
    <div class="panel-body"> <div ng-form="employeeAddForm">
        <div class="row">
            <div class="col-lg-6">
                <div class="form-group">
                    <label for="firstName">First Name:</label>
                    <input type="text" id="firstName" class="form-control" ng-model="employee.firstName"
                           placeholder="First Name" name="first" ng-minlength="4" ng-maxlength="15" ng-required>
                    <div ng-show="employeeAddForm.first.$dirty">
                        <span ng-show="employeeAddForm.first.$error.maxlength">Maxim 15 caractere</span>
                        <span ng-show="employeeAddForm.first.$error.minlength">Minim 4 caractere</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="form-group">
                    <label for="lastName">Last Name:</label>
                    <input type="text" id="lastName" class="form-control" ng-model="employee.lastName"
                           placeholder="Last Name" name="last" ng-minlength="4" ng-maxlength="15" required>
                    <div ng-show="employeeAddForm.last.$dirty">
                        <span ng-show="employeeAddForm.last.$error.maxlength">Maxim 15 caractere</span>
                        <span ng-show="employeeAddForm.last.$error.minlength">Minim 4 caractere</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <div class="form-group">
                    <label for="departmentId">Department:</label>
                    <select id="departmentId" ng-model="employee.departmentId.departmentId" class="form-control" ng-required
                            ng-options="v.departmentId as
v.departmentName for v in departments">
                    </select>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="form-group">
                    <label for="manager">Manager:</label>
                    <select id="manager" ng-model="employee.managerId.employeeId" class="form-control"
                            ng-options="v.employeeId as
v.firstName+' '+ v.lastName for v in managers">
                    </select> </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <div class="form-group">
                    <label for="job">Job:</label>
                    <select id="job" ng-model="employee.jobId.jobId"
                            class="form-control" ng-required
                            ng-options="v.jobId as v.jobTitle+'
salary:['+v.minSalary+':'+v.maxSalary+']' for v in jobs">
                    </select>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="form-group">
                    <label for="phoneNumber">Phone Number:</label>
                    <input type="text" id="phoneNumber" class="form-control" ng-model="employee.phoneNumber"
                           placeholder="Phone Number" name="phone" ng-minlength="6" ng-maxlength="14">
                    <div ng-show="employeeAddForm.phone.$dirty">
                        <span ng-show="employeeAddForm.phone.$error.maxlength">Maxim 14 caractere</span>
                        <span ng-show="employeeAddForm.phone.$error.minlength">Minim 6 caractere</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-5"></div>
            <div class="col-md-7">
                <div class="container">
                    <button class="btn btn-default" ng-click="reset()">RESET</button>
                    <button class="btn btn-default" ng-disabled="employeeAddForm.$invalid" ng-click="create(employee)">SAVE</button>
                </div>
            </div>
        </div>
    </div>
    </div>
    </div>