<div class="panel panel-default">
    <div class="panel-heading">
        <h2 class="panel-title">Add new employee</h2>
    </div>
    <div class="panel-body">
        <div ng-form="employeeAddForm">
            <div class="row">
                <div class="col-lg-6">
                    <div class="form-group">
                        <label for="firstName">First Name:</label>
                        <input type="text" id="firstName" name="firstName"
                               class="form-control" ng-model="employee.firstName"
                               placeholder="First Name" ng-minlength="4" ng-maxlength="15"  required>
                        <span style="font-weight:bold; color:red" class="error" ng-show="employeeAddForm.firstName.$dirty && employeeAddForm.firstName.$error.required">Required!</span>
                        <span style="font-weight:bold; color:red" class="error" ng-show="employeeAddForm.firstName.$dirty && employeeAddForm.firstName.$error.minlength">Min 4 chars!</span>
                        <span style="font-weight:bold; color:red" class="error" ng-show="employeeAddForm.firstName.$dirty && employeeAddForm.firstName.$error.maxlength">Max 15 chars!</span>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="form-group">
                        <label for="lastName">Last Name:</label>
                        <input type="text" id="lastName" name="lastName"
                               class="form-control" ng-model="employee.lastName"
                               placeholder="Last Name"  ng-minlength="4" ng-maxlength="15"  required />
                        <span style="font-weight:bold; color:red" class="error" ng-show="employeeAddForm.lastName.$dirty && employeeAddForm.lastName.$error.required">Required!</span>
                        <span style="font-weight:bold; color:red" class="error" ng-show="employeeAddForm.lastName.$dirty && employeeAddForm.lastName.$error.minlength">Min 4 chars!</span>
                        <span style="font-weight:bold; color:red" class="error" ng-show="employeeAddForm.lastName.$dirty && employeeAddForm.lastName.$error.maxlength">Max 15 chars!</span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <div class="form-group">
                        <label
                                for="departmentId">Department:</label>
                        <select id="departmentId" ng-model="employee.departmentId" class="form-control" required
                                ng-options="v as v.departmentName
for v in departments">
                        </select>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="form-group">
                        <label for="manager">Manager:</label>
                        <select id="manager" ng-model="employee.managerId" class="form-control" required
                                ng-options="v as v.firstName+' '+
v.lastName for v in managers">
                        </select>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <div class="form-group">
                        <label for="job">Job:</label>
                        <select id="job" ng-model="employee.jobId"
                                class="form-control" required
                                ng-options="v as v.jobTitle+'
salary:['+v.minSalary+':'+v.maxSalary+']' for v in jobs">
                        </select>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="form-group">
                        <label for="phoneNumber">Phone
                            Number:</label>
                        <input type="text" id="phoneNumber" name="phoneNumber"
                               class="form-control" ng-model="employee.phoneNumber"
                               placeholder="Phone Number" ng-minlength="6" ng-maxlength="14"  required>
                        <span style="font-weight:bold; color:red" class="error" ng-show="employeeAddForm.phoneNumber.$dirty && employeeAddForm.phoneNumber.$error.required">Required!</span>
                        <span style="font-weight:bold; color:red" class="error" ng-show="employeeAddForm.phoneNumber.$dirty && employeeAddForm.phoneNumber.$error.minlength">Min 6 chars!</span>
                        <span style="font-weight:bold; color:red" class="error" ng-show="employeeAddForm.phoneNumber.$dirty && employeeAddForm.phoneNumber.$error.maxlength">Max 14 chars!</span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-5"></div>
                <div class="col-md-7">
                    <div class="container">
                        <button class="btn btn-default" ng-click="reset()">RESET</button>
                        <button class="btn btn-default" ng-disabled="employeeAddForm.$invalid" ng-click="create(employee)">SAVE</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
