<div class="panel panel-default">
    <div class="panel-heading">
        <h2 class="panel-title">Edit employee <b>{{employee.firstName}} {{employee.lastName}}</b></h2>
    </div>
    <div class="panel-body">
        <div ng-form="employeeAddForm">
            <div class="row">
                <div class="col-lg-6">
                    <div class="form-group">
                        <label for="firstName">First Name:</label>
                        <input type="text" id="firstName" name="fname" class="form-control" ng-model="employee.firstName"
                               placeholder="First Name" required ng-minlength="4" ng-maxlength="15">
                        <div class="error"
                             ng-show="employeeAddForm.fname.$dirty && employeeAddForm.fname.$invalid">
                            <small class="error"
                                   ng-show="employeeAddForm.fname.$error.required" style ="color: red">
                                Your name is required.
                            </small>
                            <small class="error"
                                   ng-show="employeeAddForm.fname.$error.minlength" style ="color: red">
                                Your name is required to be at least 4 characters
                            </small>
                            <small class="error"
                                   ng-show="employeeAddForm.fname.$error.maxlength" style ="color: red">
                                Your name cannot be longer than 15 characters
                            </small>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="form-group">
                        <label for="lastName">Last Name:</label>
                        <input type="text" id="lastName" name="lname" class="form-control" ng-model="employee.lastName"
                               placeholder="Last Name" required ng-minlength="4" ng-maxlength="15">
                        <div class="error"
                             ng-show="employeeAddForm.lname.$dirty && employeeAddForm.lname.$invalid">
                            <small class="error"
                                   ng-show="employeeAddForm.lname.$error.required" style ="color: red">
                                Your name is required.
                            </small>
                            <small class="error"
                                   ng-show="employeeAddForm.lname.$error.minlength" style ="color: red">
                                Your name is required to be at least 4 characters
                            </small>
                            <small class="error"
                                   ng-show="employeeAddForm.lname.$error.maxlength" style ="color: red">
                                Your name cannot be longer than 15 characters
                            </small>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <div class="form-group">
                        <label for="departmentId">Department:</label>
                        <select id="departmentId" ng-model="employee.departmentId.departmentId" class="form-control" ng-required
                                ng-options="v.departmentId as v.departmentName for v in departments">
                        </select>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="form-group">
                        <label for="manager">Manager:</label>
                        <select id="manager" ng-model="employee.managerId.employeeId" class="form-control"
                                ng-options="v.employeeId as v.firstName+' '+ v.lastName for v in managers">
                        </select>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <div class="form-group">
                        <label for="job">Job:</label>
                        <select id="job" ng-model="employee.jobId.jobId" class="form-control" ng-required
                                ng-options="v.jobId as v.jobTitle+' salary:['+v.minSalary+':'+v.maxSalary+']' for v in jobs">
                        </select>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="form-group">
                        <label for="phoneNumber">Phone Number:</label>
                        <input type="text" id="phoneNumber" name="number" class="form-control" ng-model="employee.phoneNumber"
                               placeholder="Phone Number" required ng-minlength="4" ng-maxlength="15">
                        <div class="error"
                             ng-show="employeeAddForm.number.$dirty && employeeAddForm.number.$invalid">
                            <small class="error"
                                   ng-show="employeeAddForm.number.$error.required" style ="color: red">
                                The number is required.
                            </small>
                            <small class="error"
                                   ng-show="employeeAddForm.number.$error.minlength" style ="color: red">
                                The number is required to be at least 4 characters
                            </small>
                            <small class="error"
                                   ng-show="employeeAddForm.number.$error.maxlength" style ="color: red">
                                The number cannot be longer than 15 characters
                            </small>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-5"></div>
                <div class="col-md-7">
                    <div class="container">
                        <button class="btn btn-default" ng-click="reset()">RESET</button>
                        <button class="btn btn-default" ng-disabled="employeeAddForm.$invalid" ng-click="create(employee)">SAVE</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>