<div class="panel panel-default">
    <div class="panel-heading">
        <h2 class="panel-title">Edit employee <b>{{employee.firstName}} {{employee.lastName}}</b></h2>
    </div>
    <div class="panel-body">
        <div ng-form="employeeAddForm">
            <div class="row">
                <div class="col-lg-6">
                    <div class="form-group">
                        <label for="firstName">First Name:</label>
                        <input type="text" id="firstName" class="form-control" name="firstname" ng-model="employee.firstName" ng-minlength=4 ng-maxlength=15
                               placeholder="First Name" ng-required>
                        <div style="color:#F00" class="error" ng-show="employeeAddForm.firstname.$dirty && employeeAddForm.firstname.$invalid">Fisrt name length must be between 4-15 characters.</div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="form-group">
                        <label for="lastName">Last Name:</label>
                        <input type="text" id="lastName" class="form-control" name="lastname" ng-model="employee.lastName" ng-minlength=4 ng-maxlength=15
                               placeholder="Last Name" required>
                        <div style="color:#F00" class="error" ng-show="employeeAddForm.lastname.$dirty && employeeAddForm.lastname.$invalid">Last name length must be between 4-15 characters.</div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <div class="form-group">
                        <label for="departmentId">Department:</label>
                        <select id="departmentId" ng-model="employee.departmentId.departmentId" class="form-control" ng-required
                                ng-options="v.departmentId as v.departmentName for v in departments">
                        </select>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="form-group">
                        <label for="manager">Manager:</label>
                        <select id="manager" ng-model="employee.managerId.employeeId" class="form-control"
                                ng-options="v.employeeId as v.firstName+' '+ v.lastName for v in managers">
                        </select>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <div class="form-group">
                        <label for="job">Job:</label>
                        <select id="job" ng-model="employee.jobId.jobId" class="form-control" ng-required
                                ng-options="v.jobId as v.jobTitle+' salary:['+v.minSalary+':'+v.maxSalary+']' for v in jobs">
                        </select>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="form-group">
                        <label for="phoneNumber">Phone Number:</label>
                        <input type="text" id="phoneNumber" class="form-control" name="phonenumber" ng-model="employee.phoneNumber" ng-minlength=6 ng-maxlength=14
                               placeholder="Phone Number" >
                        <div style="color:#F00" class="error" ng-show="employeeAddForm.phonenumber.$dirty && employeeAddForm.phonenumber.$invalid">Phone number length must be between 6-14 characters.</div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-5"></div>
                <div class="col-md-7">
                    <div class="container">
                        <button class="btn btn-default" ng-click="reset()">RESET</button>
                        <button class="btn btn-default" ng-disabled="employeeAddForm.$invalid" ng-click="create(employee)">SAVE</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>