<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<div class="container">
    <div class="panel panel-default">
        <div class="jumbotron">
            <h1>Math</h1>
        </div>
        <div class="panel-body">
            <p>
                NR. A: <input type="number" ng-model="nrA">
             </p>

            <p>
                NR. B: <input type="number" ng-model="nrB">
            </p>

            <p>
                Add: {{nrA + nrB}}
            </p>
            <p>
                Sub: {{nrA - nrB}}
            </p>
            <p>
                Multiplication: {{nrA * nrB}}
            </p>
            <p>
                Div: {{nrA / nrB}}
            </p>

        </div>
    </div>
</div>
</body>
</html>