
    <div class="jumbotron">
        <h1>{{title}}</h1>
            <div class="panel-body">
            <p>
                Number A: <input type="number" ng-model="numberA"/>
            </p>
            <p>
                Number B: <input type="number" ng-model="numberB"/>
            </p>
                <p>
                    {{numberA}}
                    {{numberB}}
                </p>
            <p>
                Addition: {{numberA + numberB}}
            </p>
            <p>
                Subtraction: {{numberA - numberB}}
            </p>
            <p>
                Multiplication: {{numberA * numberB}}
            </p>
            <p>
                Division: {{numberA / numberB}}
            </p>
        </div>
    </div>
