<div class="container">
    <div class="jumbotron">
        <h1>{{title}}</h1>
        <p>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title"></h3>
            </div>
            <div class="panel-body">

                <p>
                    ID to search: <input type="number" ng-model="firstVariable"/><h2 ng-show = "error2">ERROR </h2>
                </p>
                <p>
                    <button class="btn btn-primary btn-lg"  ng-click="search()">Search</button>
                </p>

            </div>
        </div>
        <table class="table table-bordered" ng-show="visible">
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>City</th>
            </tr>
            <tr >
                <td>
                    {{department.departmentId}}
                </td>
                <td>
                    {{department.departmentName}}
                </td>
                <td>
                    {{department.locationId.city}}
                </td>
            </tr>
        </table>
        </p>
    </div>
</div>