
    <div class="jumbotron">
        <h1>{{title}}</h1>
        <div class="panel-body">
            <table class="table table-bordered">
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>City</th>
                </tr>
                <tr ng-repeat="department in departments">
                    <td>
                        {{department.departmentId}}
                    </td>
                    <td>
                        {{department.departmentName}}
                    </td>
                    <td>
                        {{department.locationId.city}}
                    </td>
                </tr>
            </table>
        </div>
    </div>
