<div class="container">
<div class="jumbotron">

    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Demo Math</h3>
        </div>
        <div class="panel-body">
            <p>
                Number A: <input type="number" ng-model="numA"/>
                </p>
            <p>
                Number B: <input type="number" ng-model="numB"/>
            </p>
<p style = "display: inline">
    Addition: <p style="display:inline" ng-show =" (numA || numA===0) && (numB || numB===0)"> {{numA+numB}} </p> <br/> </p>
            <p style = "display: inline"> Substraction: </p> <p style="display:inline" ng-show =" (numA || numA===0) && (numB || numB===0)"> {{numA-numB}} </p> <br/> </p>
            <p style = "display: inline"> Division: </p><p style="display:inline" ng-show ="(numA || numA===0) && numB"> {{numA/numB}} </p>
            <p style="display:inline" ng-show ="(numA || numA===0) &&  numB===0"> Division by 0 is impossible! </p>
            <br/> </p>
            <p style = "display: inline"> Multiplication: </p><p style="display:inline" ng-show =" (numA || numA===0) && (numB || numB===0)"> {{numA*numB}} </p> <br/> </p>


            </div>


</div>
</div>