<div class="panel panel-default">
    <div class="panel-heading">
        <h2 class="panel-title">Add new employee</h2>
    </div>
    <div class="panel-body">
        <div ng-form="employeeAddForm">
            <div class="row">
                <div class="col-lg-6">
                    <div class="form-group">
                        <label for="firstName">First Name:</label>
                        <input type="text" name ="firstN" id="firstName" class="form-control"  ng-model="employee.firstName"
                               placeholder="First Name" required ng-maxlength="15" ng-minlength="4">
                    </div>
                    <div  class="alert alert-danger alert-error" ng-show="employeeAddForm.firstN.$error.minlength && employeeAddForm.firstN.$invalid && employeeAddForm.firstN.$dirty">
                       The first name should have at least 4 characters!   </div>

                    <div  class="alert alert-danger alert-error" ng-show="employeeAddForm.firstN.$error.maxlength && employeeAddForm.firstN.$invalid && employeeAddForm.firstN.$dirty">
                        The first name should have at most 15 characters!   </div>

                </div>
                <div class="col-lg-6">
                    <div class="form-group">
                        <label for="lastName">Last Name:</label>
                        <input type="text" id="lastName" name ="lastN" class="form-control" ng-model="employee.lastName"
                               placeholder="Last Name" required  ng-maxlength="15" ng-minlength="4">
                    </div>
                    <div  class="alert alert-danger alert-error" ng-show="employeeAddForm.lastN.$error.minlength && employeeAddForm.lastN.$invalid && employeeAddForm.lastN.$dirty">
                        The last name should have at least 4 characters!   </div>

                    <div  class="alert alert-danger alert-error" ng-show="employeeAddForm.lastN.$error.maxlength && employeeAddForm.lastN.$invalid && employeeAddForm.lastN.$dirty">
                        The last name should have at most 15 characters!   </div>

                </div>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <div class="form-group">
                        <label
                                for="departmentId">Department:</label>
                        <select id="departmentId" ng-model="employee.departmentId" class="form-control" required
                                ng-options="v as v.departmentName for v in departments">
                        </select>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="form-group">
                        <label for="manager">Manager:</label>
                        <select id="manager" ng-model="employee.managerId" class="form-control" required
                                ng-options="v as v.firstName+' '+ v.lastName for v in managers">
                        </select>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <div class="form-group">
                        <label for="job">Job:</label>
                        <select id="job" ng-model="employee.jobId"
                                class="form-control" required
                                ng-options="v as v.jobTitle+' salary:['+v.minSalary+':'+v.maxSalary+']' for v in jobs">
                        </select>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="form-group">
                        <label for="phoneNumber">Phone
                            Number:</label>
                        <input type="text" name ="phone" id="phoneNumber"
                               class="form-control" ng-model="employee.phoneNumber"
                               placeholder="Phone Number" required  ng-maxlength="14" ng-minlength="6" >
                    </div>
                    <div  class="alert alert-danger alert-error" ng-show="employeeAddForm.phone.$error.minlength && employeeAddForm.phone.$invalid && employeeAddForm.phone.$dirty">
                        The last name should have at least 6 characters!   </div>

                    <div  class="alert alert-danger alert-error" ng-show="employeeAddForm.phone.$error.maxlength && employeeAddForm.phone.$invalid && employeeAddForm.phone.$dirty">
                        The last name should have at most 14 characters!   </div>



                </div>
            </div>
            <div class="row">
                <div class="col-md-5"></div>
                <div class="col-md-7">
                    <div class="container">
                        <button class="btn btn-default" ng-click="reset()">RESET</button>
                        <button class="btn btn-default" ng-disabled="employeeAddForm.$invalid" ng-click="create(employee)">SAVE</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div