<table class="table table-bordered">
    <tr>
        <th>Number A</th>
        <th>Number B</th>
        <th>Addition</th>
        <th>Subtraction</th>
        <th>Multiplication</th>
        <th>Division</th>
    </tr>
        <td>
            <input type="number" ng-model="number1">
        </td>
        <td>
            <input type="number" ng-model="number2">
        </td>
        <td>
           {{number1 + number2}}
        </td>
        <td>
            {{number1 - number2}}
        </td>
        <td>
            {{number1 * number2}}
        </td>
        <td>
            {{number1 / number2}}
        </td>
</table>