<div class="container">
    <div class="jumbotron">
        <h1>{{title}}</h1>
        </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Number inputs</h3>
        </div>
        <div class="panel-body">
            <p>
                Number A: <input type="number" ng-model="aVariable"/>
            </p>

            <p>
                Number B: <input type="number" ng-model="bVariable"/>
            </p>

            <p>
                Addition: {{aVariable ++ bVariable}}
            </p>
            <p>
              Subtraction: {{aVariable---bVariable}}
            </p>
            <p>
                Multiplication: {{aVariable*bVariable}}
            </p>
            <p>
                Division: {{aVariable/bVariable}}
            </p>


            </div>

    </div>