<div class="container">
<h1>{{title}}</h1>
<div class="panel-body">
    <p>
        Department ID : <input type="text" ng-model="depID"/>
    </p>
    <p>
        <a class="btn btn-primary btn-lg" role="button" ng-click="search()">Search</a>
    </p>
</div>

<div ng-show="show1"><p>Nu s-a gasit ID-ul cautat!</p></div>

<table class="table table-bordered" ng-show="show">
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>City</th>
    </tr>
    <tr>
        <td>
            {{departmentId}}
        </td>
        <td>
            {{departmentName}}
        </td>
        <td>
            {{city}}
        </td>
    </tr>
</table>
</div>