<table class="table table-bordered">
    <tr>
        <th>ID</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Salary</th>
        <th>Department Name</th>
        <th>Actions</th>
    </tr>
    <tr ng-repeat="employee in employees">
        <td>
           ID :  {{employee.employeeId}}
        </td>
        <td>
           First Name : {{employee.firstName}}
        </td>
        <td>
           Last Name :  {{employee.lastName}}
        </td>
        <td>
           Salary :  {{employee.salary}}
        </td>
        <td>
           Department :  {{employee.departmentId.departmentName}}
        </td>
        <td>
            <button type="button" class="btn btn-default" ng-click="viewEmployee(employee.employeeId)">View</button>
        </td>
    </tr>
</table>