<div class="container">
    <div class="jumbotron">
        <h1>{{title}}</h1>
        <p>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">The Numbers</h3>
            </div>
            <div class="panel-body">
                <p>
                    Number A : <input type="text" ng-model="firstVariable"/>
                </p>
                <p>
                    Number B : <input type="text" ng-model="secondVariable"/>
                </p>
                <p>
                    <a class="btn btn-primary btn-lg" role="button" ng-click="reset()">Reset Input</a>
                </p>
                <p>
                    Answer: {{answer}}
                </p>
                <p>
                    <a class="btn btn-primary btn-lg" role="button" ng-click="addition()">Addition</a>

                    <a class="btn btn-primary btn-lg" role="button" ng-click="substraction()">Substraction</a>

                    <a class="btn btn-primary btn-lg" role="button" ng-click="multiplication()">Multiplication</a>

                    <a class="btn btn-primary btn-lg" role="button" ng-click="division()">Division</a>
                </p>
            </div>
        </div>
    </div>
</div>